/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \**************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Poppins&display=swap);
/*!******************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss (1) ***!
  \******************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f398;
  font-family: "Poppins", sans-serif;
}

/*Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f8f398;
}

::-webkit-scrollbar-thumb {
  background: #f1b963;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eeac47;
}

.bookItem .cover, .bookItem, form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-top, .bookItem .expand, form button {
  font-family: inherit;
  background-color: #f1b963;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 45px;
  font-weight: 500;
  color: #e46161;
  text-align: center;
  margin: 50px 0 20px;
}

/* Search form */
form {
  margin-bottom: 35px;
}
form label {
  margin-bottom: 5px;
}
form input[type=text] {
  border: 2px solid #f1b963;
  border-radius: 8px;
  padding: 5px 9px;
  margin-bottom: 5px;
}
form button {
  padding: 8px 13px;
  margin-bottom: 15px;
}
form button:hover,
form button:active {
  background-color: #eeac47;
}
form div {
  font-size: 17px;
}

/* Input error message */
.no-subj-msg {
  text-align: center;
}

/* Loader */
.loader {
  display: none;
  width: 50px;
  height: 50px;
  border: 7px solid #f8f398;
  border-top: 7px solid #f1b963;
  border-bottom: 7px solid #f1b963;
  border-radius: 50%;
  margin: auto;
  animation: spin 1.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Book item */
.bookItem {
  text-align: center;
  width: 85%;
  background-color: rgba(241, 185, 99, 0.2);
  border: 2px solid #f1b963;
  border-radius: 8px;
  padding: 15px 20px;
  margin: 0 auto 20px;
}
.bookItem .title {
  font-size: 17px;
}
.bookItem .author {
  font-size: 12px;
  opacity: 0.9;
}
.bookItem .expand {
  padding: 4px 9px;
  margin-top: 6px;
}
.bookItem .expand .arrow-up, .bookItem .expand .arrow-down {
  font-size: 15px;
  margin-left: 6px;
}
.bookItem .expand .arrow-down {
  position: relative;
  bottom: 2px;
}
.bookItem .expand .arrow-up {
  position: relative;
  top: 5px;
}
.bookItem .expand:hover {
  background-color: #eeac47;
}
.bookItem .description {
  display: none;
  text-align: center;
  font-size: 15px;
  margin-top: 8px;
}
.bookItem .cover {
  justify-content: center;
  height: 190px;
  width: 116px;
  padding: 5px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 10px;
}
.bookItem .cover .titleS {
  font-size: 15px;
}
.bookItem .cover .authorS {
  opacity: 0.9;
  margin-top: 3px;
  font-size: 10px;
}
.bookItem .show {
  display: block;
}

/* Scroll to top button */
.scroll-top {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 20px;
  padding: 8px 11px;
}

.scroll-top:hover {
  background-color: #eeac47;
}

.show {
  display: block;
}

/* Media queries */
@media screen and (min-width: 500px) {
  .bookItem {
    width: 80%;
  }
}
@media screen and (min-width: 576px) {
  h1 {
    font-size: 50px;
  }

  form label {
    font-size: 17px;
  }
  form input[type=text] {
    font-size: 15px;
  }
  form button {
    font-size: 14px;
  }
  form div {
    font-size: 18px;
  }

  .bookItem .title {
    font-size: 18px;
  }
  .bookItem .author {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 52px;
    margin-top: 55px;
  }

  form input[type=text] {
    font-size: 16px;
  }

  .bookItem .title {
    font-size: 19px;
  }
  .bookItem .author {
    font-size: 14px;
  }
  .bookItem .cover {
    height: 200px;
    width: 126px;
  }

  .scroll-top {
    right: 30px;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 57px;
  }

  form input[type=text] {
    font-size: 16px;
  }
  form button {
    font-size: 15px;
  }

  .bookItem {
    width: 75%;
    padding: 17px 60px;
  }
  .bookItem .title {
    font-size: 19px;
  }
  .bookItem .author {
    font-size: 14px;
  }
  .bookItem .cover {
    height: 205px;
    width: 131px;
  }

  .scroll-top {
    right: 40px;
    padding: 8px 18px;
  }
}
@media screen and (min-width: 1200px) {
  .bookItem {
    width: 900px;
    padding: 17px 80px;
  }

  .scroll-top {
    right: 50px;
  }
}
